/* Configuración HTML */
html, body, ol, ul, li, a, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*, *::after, *::before {
  box-sizing: inherit;
}

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding:0;
        }

   header {
            background-color:#2b2d42;
            color: white;
            padding: 20px;
            text-align: center;
        }

/* Fin Configuración HTML */

/* Configuración Contenedores */
.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 1em;
  align-content: center;
}

.contenido-index {
   max-width: 800px;
            margin: 2em auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Fin Configuración Contenedores */

/* Configuración Listas */
.lista-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.lista-menu li {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  margin: 0 auto;
}
/* Fin Configuración Listas */

/* Configuración Botones */
.boton {
  border-radius: 11px;
  text-decoration: none;
  box-shadow: 1px 1px 0px silver;
  color: snow;
  background: hsla(300, 80%, 40%, 90%);
  letter-spacing: 2px;
  padding: 5px;
  cursor: pointer;
}

.boton:hover {
  background: hsla(300, 80%, 40%, 70%);
  color: yellow;
  box-shadow: 0px 0px 0px snow;
}
/* Fin Configuración Botones */

/* Configuración Títulos */

.titulo-general {
  color: snow;
  font-size: 2em;
  text-shadow: -1px 1.5px 0px silver;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: bold;
  text-align: center;
}
/* Fin Configuración Títulos */

/* Configuración Párrafo */
.parrafo-prosa {
  text-align: justify;
  text-indent: 3em;
  line-height: 1.5;
  padding-bottom: 1em;
}

.parrafo-centrado {
  text-align: center;
  color: green;
  font-style: italic;
  padding-bottom: 1em;
  margin-top: 1em;
}
/* Fin Configuración Párrafo */

        footer {
            text-align: center;
            margin-top: 20px;
            padding: 16px;
            background-color: #2b2d42;
            color: white;
        }